/* ------------------------------------------------------------------- */

html {
  scroll-behavior: smooth;
  background-color: #323232;
}

body {
  background-color: #323232;
}

/* This isn't my code its from => https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header, 
I'm using this block of CSS to offset the anchor tag that I scrolled to since there are fixed elements on my site.*/

a.anchor {
  display: block;
  position: relative;
  top: -500px;
  visibility: hidden;
}

/* ------- Top Container/Nav-Bar ------- */

.title-container {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 100vw;
  border-bottom: #3e64ff solid 1px;
}

h1 > em {
  font-size: 20px;
  margin: 20px 0 5px 5px;
  font-family: "Montserrat", sans-serif;
  color: #3e64ff;
}

h1 > span {
  font-size: 20px;
  margin: 20px 0 0 10px;
  color: #3e64ff;
}

.headline {
  font-size: 12px;
  margin-left: 15px;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.dark-light-mode {
  position: absolute;
  right: 10px;
  width: 80px;
  margin: 10px 0 0 0;
  font-size: 12px;
}
.dark-light-mode:hover {
  background-color: #4b6efa;
  box-shadow: 1px 1px 5px #000000;
}
.dark-light-mode:focus {
  outline: none;
}

/* ----------- Map Container ---------- */

main {
  height: 100%;
  background-color: #323232;
}

.fixed-section {
  position: fixed;
  width: 100%;
  background-color: #323232;
}

#map {
  height: 35vh;
}

/* ---------- Card Container ---------- */

.card-list {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -200px;
  background-color: #323232;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
  margin: 10px auto;
  width: 98%;
  background-color: #323232;
  color: #323232;
  box-shadow: 0.5px 0.5px 2px black;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #3e64ff;
  margin-bottom: 12px;
}

input {
  font-family: "Montserrat", sans-serif;
  margin: 0 10px 10px 0;
  width: 90%;
  height: 30px;
  border-radius: 1%;
  background-color: #93a5eb;
  color: #323232;
  border: 2px solid #3e64ff;
  caret-color: #000;
  border-radius: 2%;
}

input:focus {
  outline: none;
}

button {
  color: white;
  background-color: #3e64ff;
  font-family: "Montserrat", sans-serif;
  width: 40%;
  height: 35px;
  border-radius: 7%;
  border: none;
}

.search button:hover {
  background-color: #4b6efa;
  box-shadow: 1px 1px 5px black;
}

.user-inputs {
  display: flex;
  flex-direction: row;
}

.card {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  height: 150px;
  margin: 10px 0 0 0;
  box-shadow: 0.5px 0.5px 3px black;
  padding: 10px;
}

.card > p {
  font-family: "Montserrat", sans-serif;
  margin: 2px;
  font-size: 15px;
}

.empty-div {
  background-color: #323232;
  height: 455px;
  width: 100%;
}

h1 {
  margin: 10px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #3e64ff;
}

/* ---------- Media Queries ---------- */

@media (min-width: 800px) {
  html {
    height: 100vh;
    width: 100vw;
  }
  .fixed-section {
    /* position: static; */
    width: 100%;
    flex-direction: column;
    background: none;
  }
  section {
    display: flex;
    flex-direction: row-reverse;
  }
  .map-search-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  #map {
    width: 60%;
    height: 100vh;
    border-radius: 2%;
  }
  .card-list {
    width: 35vw;
    margin-left: 2.5vw;
  }
  .search {
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .card {
    width: 95%;
    height: 180px;
    margin: 10px 0 0 0;
  }
  .empty-div {
    width: 35vw;
    height: 180px;
  }
  a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
  }
  .dark-light-mode {
    position: absolute;
    right: 60px;
    width: 100px;
    margin: 10px 0 0 0;
  }
}
